:root{
    width: auto;
}

table{
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    text-align: center;
}

tr:nth-of-type(odd){
    background-color: lightblue;
}

tr:nth-of-type(even){
    background-color: lightgrey;
}